{% extends "core/base.html" %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <label for="{{ form.username.id_for_label }}">Email:</label>
        {{ form.username }} <!-- 'username' é o nome padrão do campo de login, mesmo que seja um email -->
        {{ form.username.errors }}

        <label for="{{ form.password.id_for_label }}">Senha:</label>
        {{ form.password }}
        {{ form.password.errors }}

        <button type="submit">Entrar</button>
    </form>
{% endblock %}